/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(//fonts.googleapis.com/css?family=Titillium+Web:400,700);

html,textarea{font:1em/1.618 "Titillium Web","Helvetica Neue","Arial Unicode MS",Arial,sans-serif}

html {
  background: #FFF;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background: #0A304E;
  color: #FFF;
  text-align: center;
  margin: 0 0 1.5em;
  padding: 1em;
}

header h1 {
  margin: 0;
}

header a {
  color: #FFF;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

article {
  max-width: 40em;
  margin: 0 auto;
  padding:
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: #1368AB;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

table.colored {
  border-collapse: collapse;
}
table.colored thead th {
  font-weight: 400;
  background: #0A304E;
  color: #FFF;
  text-align: left;
}
table.colored tbody tr {
  background: #EEE;
  border-bottom: .125em solid #FFF;
}

table.colored td, table.colored th {
  margin: 0;
  padding: .25em 1em;
}

dl {
  overflow: hidden;
}
dt {
  clear: both;
  float: left;
  width: 6em;
  font-weight: 700;
}
dt:after {
  content: ":";
}
dd {
  margin-left: 6.5em;
}
